.footer-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(26, 23, 23);
    color: #fff;
    padding: 20px;
    
    
}
.body-section{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.address-section{
    display: flex;
    flex-direction: column;
   
}
.media{
    width: 50%;
    display: flex;
    justify-content: space-arround;
    align-items: center;
}
.address-section h2{
    font-size: 20px;
    font-weight: 500;
}
.address-section p{
    padding: 15px;
}
.media-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.media-section h2{
    font-size: 20px;
    font-weight: 500;
}
.media-section img{
    width: 90px;
    border-radius: 20px;
    padding: 10px;
}
.media-section hr{
    width: 100%;
}
@media screen and (max-width: 810px) {
    .body-section{
        flex-direction: column;
    }
    .media{
        display: flex;
        justify-content: space-arround;
        align-items: center;
        width: 100%;
        height: auto;
    }
    .media hr{
        display: none;
    }
    .copy-right-section{
        text-align: center;
    }
    .footer-main{
        height: auto;
    }
}
@media screen and (max-width: 1360px){
    .media{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .footer-main{
        min-height: 20vh;
    }
}