.home{
    display: flex;
    flex-direction: column;
}

.home-section {
  padding-top: 150px;
  color: rgb(252, 240, 240);
  background-color: rgb(255, 255, 255);
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
}

.left-home-section {
  display: flex;
  flex-direction: column;
  width: 45%;
  padding: 60px;
}
.left-home-section h1 {
  font-size: 80px;
  font-weight: bolder;
   color: rgb(15, 15, 20);
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.left-home-section h1 span {
  color: rgb(90, 88, 88);
  font-size: 50px;
  font-weight: 800;
}
.left-home-section span{
    padding: 10px;
    font-weight: 800;
    color: rgb(32, 8, 8);
}
.left-home-section p {
  font-size: 30px;
  font-weight: 800;
  color: rgb(22, 22, 22);
}
.left-home-section a {
  text-decoration: none;
  color: rgb(7, 7, 7);
  background-color: rgb(56, 39, 216);
  padding: 10px;
  font-weight: 600;
  font-size: 20px;
  width: 70%;
  text-align: center;
  border-radius: 15px;
}
.left-home-section a button:hover {
  background-color: rgb(150, 150, 150);
  color: rgb(66, 65, 65);
}
.right-home-section {
  width: 45%;
  display: flex;
  justify-content: center;
  padding: 30px;
}
.right-home-section img {
  max-width: 500px;
  height: 600px;
  
}
/* Responsive web design  */
@media (max-width: 810px) {
  .home-section {
    display: block;
    align-items: center;
    padding-top: 200px;
  }
  .left-home-section {
    width: 100%;
    gap: 20px;
    padding: 20px;
  }
  .right-home-section {
    width: 100%;
    padding: 20px;
  }
  .left-home-section h1 {
    font-size: 30px;
  }
  .left-home-section p {
    font-size: 20px;
  }
  .left-home-section a{
    font-size: 20px;
    width: 100%;
  }
}
