.home {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  
}

.home-section {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
  padding: 80px 30px;
}

.left-home-section {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.left-home-section h1 {
  font-size: 40px;
  font-weight: 900;
  color: rgb(15, 15, 20);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.left-home-section h1 {
  font-size: 80px;
  font-weight: 900;
  color: rgb(15, 15, 20);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.left-home-section marquee {
  font-size: 20px;
  padding: 30px;
  font-weight: bolder;
  color: rgb(97, 97, 97);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.left-home-section h1 span {
  color: rgb(90, 88, 88);
  font-size: 50px;
  font-weight: 800;
}

.left-home-section p {
  font-size: 30px;
  font-weight: 800;
  color: rgb(22, 22, 22);
}
.left-home-section a {
  text-decoration: none;
  color: rgb(226, 226, 226);
  background-color: #0a4583;
  padding: 10px;
  font-weight: 600;
  font-size: 25px;
  width: 200px;
  text-align: center;
  border-radius: 15px;
}
.left-home-section a button:hover {
  background-color: rgb(150, 150, 150);
  color: rgb(66, 65, 65);
}
.right-home-section {
  display: flex;
  justify-content: center;
  padding: 10px;
}
.right-home-section img {
  width: 500px;
  height: 600px;
}
.home-bottom-section {
  padding: 40px;
}
.home-bottom-section h2 {
 display: flex;
 justify-content: center;
 font-size: 50px;
}
.contents {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px;
  align-items: center;
  
}
.content{
  width: 300px;
  background-color: #d6d6d6;
  height: 300px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
}
.content p{
  padding-top: 20px;
}

/* Responsive web design  */
@media (max-width: 810px) {
  .home-section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
  }
  .left-home-section {
    padding: 25px;
  }
  .right-home-section {
    padding: 25px;
  }
  .right-home-section img {
    width: 300px;
    height: 400px;
  }
  .left-home-section h1 {
    font-size: 50px;
    font-weight: 900;
  }
  .left-home-section h1 span {
    font-size: 50px;
  }
  .left-home-section p {
    font-size: 20px;
    font-weight: 700;
  }
  .left-home-section a {
    font-size: 20px;
    width: 200px;
  }
  .contents{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .home-bottom-section{
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .home-bottom-section h2{
    font-size: 30px;
    text-align: center;
  }
  .content{
    padding: 20px;
    
  }
}

@media (max-width: 1380px){
  .content{
    padding: 30px;
  }
   .contents{
    width: 100%;
    padding: 0px;
     display: flex;
     justify-content: space-arround;
     align-items: center;
   }
   .home-section {
    padding-top: 200px;
    
   }
   .home-bottom-section{
    padding: 20px;
   }
    .left-home-section h1{
      font-size: 60px;
      font-weight: 700;
    }
     .left-home-section h1 span{
       font-size: 40px;
       font-weight: 700;
     }
}