.eve{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(218, 218, 218);
    color: rgb(26, 58, 128);
    font-weight: 700;
    font-size: 40px;
}